@font-face {
    font-family: 'MapoMaponaru';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_01/MapoMaponaru.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_01/MapoMaponaru.woff) format('woff');
    font-display: swap;
}
