font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_04/NanumBarunGothic.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_04/NanumBarunGothic.woff) format('woff');
    font-display: swap;
}
font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_04/NanumBarunGothicBold.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_04/NanumBarunGothicBold.woff) format('woff');
    font-display: swap;
}
font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_04/NanumBarunGothicLight.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_04/NanumBarunGothicLight.woff) format('woff');
    font-display: swap;
}
font-face {
    font-family: 'Nanum Barun Gothic';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 200;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_04/NanumBarunGothicUltraLight.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_04/NanumBarunGothicUltraLight.woff) format('woff');
    font-display: swap;
}
  