@font-face {
    font-family: 'Nanum Myeongjo';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMyeongjo.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMyeongjo.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Nanum Myeongjo';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMyeongjoBold.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMyeongjoBold.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Nanum Myeongjo';
    font-weight: normal; 
    font-style: normal; 
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMyeongjoExtraBold.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumMyeongjoExtraBold.woff) format('woff');
    font-display: swap;
}
  