@font-face {
  font-family: 'Nanum Gothic';
  font-weight: normal; 
  font-style: normal; 
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumGothicLight.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumGothicLight.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-weight: normal; 
  font-style: normal; 
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumGothic.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumGothic.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-weight: normal; 
  font-style: normal; 
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumGothicBold.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumGothicBold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-weight: normal; 
  font-style: normal; 
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumGothicExtraBold.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/gh/webfontworld/webfonts2020_02/NanumGothicExtraBold.woff) format('woff');
  font-display: swap;
}


